*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}

.logo{
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: #f9004d;
}

nav ul{
    display: flex;
    justify-content: space-around;
    
}
nav ul li{
    list-style: none;
    padding: 10px 25px;
    
    
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition-property: color;
    

}

nav ul li a:hover{
    color: #f9004d;
    transition: 0.3s;
    
}

.btn{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}


h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px ;

}
h1:hover{
    color: #f9004d;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
